@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&family=Playfair+Display:ital@0;1&display=swap");

$font-stack-content: "Playfair Display", serif;
$font-stack-controls: "Noto Sans", sans-serif;

$colors-black: rgb(43, 42, 41);
$colors-font-light: white;
$colors-font-dark: black;

$colors-font-dark-glorious: rgb(162, 146, 54);
$colors-font-light-glorious: rgb(229, 234, 82);
$colors-background-glorious: rgb(206, 227, 227);

$colors-font-dark-luminous: rgb(129, 226, 226);
$colors-font-light-luminous: rgb(179, 213, 226);
$colors-background-luminous: rgb(209, 243, 247);

$colors-font-dark-sorrowful: rgb(172, 16, 47);
$colors-font-light-sorrowful: rgb(223, 145, 109);
$colors-background-sorrowful: rgb(132, 125, 143);

$colors-font-dark-joyful: rgb(99, 187, 99);
$colors-font-light-joyful: rgb(167, 235, 135);
$colors-background-joyful: rgb(228, 255, 187);

// hide the scrollbar but keep the functionality
body,
.content {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}

.App {
  // https://stackoverflow.com/questions/38428322/react-component-full-screen-with-height-100
  // https://www.youtube.com/shorts/97rnXn7Ks3Y
  min-height: 100vh;
}

a,
a:visited {
  text-decoration: none;
}

.navbar,
.footer,
.content {
  display: flex;
}

.navbar,
.footer {
  align-items: center;
  font-family: $font-stack-controls;
  position: fixed;
  width: 100%;
}

.footer {
  bottom: 0;
  left: 0;
  justify-content: center;
  padding: 1em;
  margin-top: auto;
}

.navbar {
  top: 0;
  justify-content: space-between;
  padding: 2em;

  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }

  &__title,
  &__item {
    color: inherit;
  }

  &__title {
    font-size: 3rem;
  }

  &__item {
    font-size: 2rem;

    &--active {
      text-decoration: underline;
    }
  }
}

.content {
  padding-top: 10em;
  font-family: $font-stack-content;
  flex-direction: column;
  place-items: center;


  &__section {
    scroll-snap-align: center;
    &--top {
        padding-top: 0em;
        padding-bottom: 10em;
    }
    width: 50em;
    padding-top: 25em;
    padding-bottom: 25em;
    &__description {
      font-style: italic;
      padding-left: 0.5rem;
    }
  }
}

.clr {
  &--basic {
    color: $colors-font-light;
    background-color: $colors-black;
  }
  &--glorious {
    color: $colors-font-dark-glorious;
    background-color: $colors-background-glorious;
  }
  &--luminous {
    color: $colors-font-dark-luminous;
    background-color: $colors-background-luminous;
  }
  &--joyful {
    color: $colors-font-dark-joyful;
    background-color: $colors-background-joyful;
  }
  &--sorrowful {
    color: $colors-font-dark-sorrowful;
    background-color: $colors-background-sorrowful;
  }
}

.navbar__item {
  &--sunday,
  &--wednesday {
    color: $colors-font-light-glorious;
  }
  &--monday,
  &--saturday {
    color: $colors-font-light-joyful;
  }
  &--tuesday,
  &--friday {
    color: $colors-font-light-sorrowful;
  }
  &--thursday {
    color: $colors-font-light-luminous;
  }
}
