.navbar {
    display: flex;
    background-color: azure;
    justify-content: space-between;
    align-items: center;

    &__site-title, &__site-title:visited {
        padding: 1rem;
        font-size: 2rem;
        text-decoration: none;
        color: black;
    }

    &__days-list {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 0 1rem;

        &__day {
            &__link, &__link:visited {
                text-decoration: none;
                color: black;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0.25rem;
            }
            
            &--active {
                background-color: cornflowerblue;
            }

            background-color: azure;
            &:hover {
                filter: brightness(80%);
            }
        }
    }
}